
body {
  background-color: rgba(7, 13, 48, 1);
  color: rgba(255, 255, 255, 1);
}
.row {
  /*Keep the content center of the screen*/
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section {
  height: 100vh;
}

/**********************
Scrollify Fade In control
**************************/
/*****Animation CHeck*****/
.opacityIn{
  opacity:1;

  transition:all 1s ease;
}
.opacityOut{
  opacity:1;

  transition:all 1s ease;
}

.scaleOpacityIn{
  opacity:1;
  transform: scale(1,1);
  transition:all .600s ease;
}

.scaleOpacityOut{
  opacity:0;
  transform: scale(0,0);
  transition:all .600s ease;
}

.logoLeftPosIn {
  transition: transform .600s ease, opacity 2s ease;
  -webkit-transform: translate(11px, 0);
  opacity: 0;
}

.logoLeftPosOut {
  transition: transform .600s ease, opacity 2s ease;
  -webkit-transform: translate(-220px, 0) ;
  opacity: 1;
}

.logoRightPosIn {
  transition: transform .600s ease, opacity 2s ease;
  -webkit-transform: translate(220px, 0);
  opacity: 1;
}

.logoRightPosOut {
  transition: transform .600s ease, opacity 2s ease;
  -webkit-transform: translate(11px, 0);
  opacity: 0;
}
.rotateRoadIn{
  transform: scale(1);
  transition: all 1s ease;
  opacity: 1;
  transform-origin: 20% 40%;
  -webkit-transform: rotateX(20deg);
}
.rotateRoadOut{
  transform: scale(.7);
  transition: all 1s ease;
  opacity: 1;
  transform-origin: 0% 100%;
  -webkit-transform: rotateX(60deg);
}
.scaleDownBox {
  transform: scale(1);
  transition: all 1s ease;
  opacity: 1;
  -webkit-transform: rotateX(0deg);

}

.scaleUpBox {
  transform: scale(0.8);
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: rotateX(150deg);
}

.sectionIconIn {
  transition: all 1.0s ease;
  transform: scale(.7, .7);
  transform: translate(0, 10px);
  opacity: 1.0;
}

.sectionIconOut {
  transition: all 1.0s ease;
  transform: translate(0, 20px);
  transform: scale(1, 1);
  opacity: 0.0;
}

.sectionIconMoveUp {
  transition: all 1.0s ease;
  transform: scale(.7, .7);
  transform: translate(0, -10px);
  opacity: 1.0;
}



/*************************************
********** Nav Section ***************/
.navbar{
  padding:12px;
}
.navbar-dark{
  background-color: rgba(7, 13, 48, .9);;
}
.nav-logo-text {
  color: rgba(255, 255, 255, 1);
  font-size: .9em;
  letter-spacing: 5px;
}

.nav-item {
  font-size: .7em;
  letter-spacing: 3px;
  margin-left: 20px;
}

/*########################################
################ Logo Animation Section##############
#########################################*/
#logo-left {
  transform: translateX(11px);
  transition: all .3s ease-out;
}

#logo-right {
  transform: translateX(-11px);
  transition: all .3s ease-out;
}

/*#########################################
############### HERO SECTION ##############
########################################*/
.hero-content {
  text-align: center;
  margin-top: 98px;
}

.hero-header {
  font-size: 3.3em;
  font-weight: 900;
  line-height: .85;
  letter-spacing: -1.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.hero-para {
  margin-top: 24px;
  font-size: 1.5em;
  line-height: 1.3;
  letter-spacing: -1.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.btn-standard {
  margin-top: 24px;
  border-radius: 0px;
  font-size: .7em;
  padding: 32px 60px;
  letter-spacing: 2px;
  margin-left: 12px;
  background-color: rgba(35, 135, 185, .8);
  border: none;
}

.btn-standard:hover {
  background-color: rgba(35, 135, 185, 1);
}

.learn-more-btn {
  background-color: rgba(110, 110, 110, .8);
}

.learn-more-btn:hover {
  background-color: rgba(110, 110, 110, 1);
}

/*#########################################
############### INNER SECTION ##############
########################################*/
.inner-content {
  text-align: center;
  margin-top: 64px;
}

.inner-header {
  font-size: 2.5em;
  font-weight: 800;
  line-height: .85;
  letter-spacing: -1.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.inner-para {
  padding: 0 64px;
  margin-top: 36px;
  font-size: 1.3em;
  line-height: 1.4;
  letter-spacing: -1.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*********************SECTION 2**************/
.section-2-icons {
  margin: 48px 0;
}

.section-2-info {
  position: absolute;
}

.logo-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.section-2-icons #logo-left {
  transform: translateX(-200px);
}

.section-2-icons #logo-right {
  transform: translateX(200px);
}*/
/*********************SECTION 3**************/
.section-3-header-icon {
  margin: 48px 0;
}

.section-3-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

.section-3-icons img {
  width: 48px;
  height: 48px;
}

.icon-title {
  margin-top: 16px;
  font-size: 1.5em;
}

.icon-paragraph {
  font-size: .9em;
}
/****************SECTION 4********************/
.section-4-dashed-lines{
  display:flex;
  justify-content: space-around;
  align-content:flex-end;
  align-items: flex-end;
  align-self:flex-end;
}
.dashed-line{

}
.section-4-box-icon{
  position: absolute;
  display: flex;
  margin-top:-64px;
  margin-left:-12px;
}
/*****************SECTION 5*******************/
.section-5-icon-column {
  margin: 48px 0;
}

.section-5-icons img {
  padding: 6px 4px;
}

/**************SECTION 6**********************/
.section-6-logo-text {
  color: rgba(255, 255, 255, 1);
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: 12px;
}

#section6 .inner-header {
  margin-top: 32px;
}
